<section id="main-content">
    <section class="vbox pb-40">
        <section class="scrollable padder-lg pb-60">
            <div class="music-header">
                <h2 class="font-thin m-b">{{page_title}}</h2>
                <ng-select placeholder="Order by" bindLabel="name" class="select-music"
                           bindValue="id" [items]="filterItems" (change)="changeOrdering($event)"
                           [(ngModel)]="song_ordering">
                </ng-select>
            </div>
            <div class="row row-sm main-list">
                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let song of arraySong">
                    <song-item [item]="song"></song-item>
                </div>
            </div>
            <app-pagination
                    [url_page]="api_page_url"
                    (response)="getArtistInfo($event)"
                    (changeItems)='getSongItems($event)'
                    [query_params]='paginationQueryParams'
            ></app-pagination>
        </section>
    </section>
</section>