.music-list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 40px;
}

.main-list {
    padding-bottom: 20px;
}

.music-list__item {
    width: 20%;
    cursor: pointer;
    margin-bottom: 20px;
}

.music-list__item img {
    margin-bottom: 10px;
    height: 100px;
    width: 100px;
}

.music-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.music-header .custom-select {
    max-width: 100px;
    padding: 0;
    line-height: 0;
}

.ng-select.select-music {
    min-width: 100px;
}

.ng-select.select-music .ng-placeholder {
    bottom: 8px;
}