<section id="main-content">
    <section class="vbox">
        <section class="w-f-md" id="bjax-target">
            <section class="hbox stretch">
                <section class='pb-40'>
                    <section class="vbox">
                        <section class="scrollable padder-lg pb-60">
                            <div class="music-header">
                                <h2 class="font-thin m-b">{{title_page}}</h2>
                                <select class="custom-select">
                                    <option selected>Order by</option>
                                    <option value="1">Name</option>
                                    <option value="2">Liseners</option>
                                    <option value="3">Upload</option>
                                </select>
                            </div>

                            <div class="row row-sm">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let music of arrayMusic">
                                    <div *ngIf="music.preload" class="item-preload"
                                         [ngStyle]="{ 'background-image': 'url(' + music.preload + ')'}"></div>
                                    <div *ngIf="!music.preload" class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black"
                                                 (click)="player.ChangeSong(music)">
                                                <div class="center text-center m-t-n">
                                                    <a><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                                <div class="bottom padder m-b-sm">
                                                    <a href="#" class="pull-right">
                                                        <i class="fa fa-heart-o"></i>
                                                    </a>
                                                    <a (click)="addToPlaylist(music, template); $event.stopPropagation()">
                                                        <i class="fa fa-plus-circle"></i>
                                                    </a>
                                                </div>
                                            </div>
                                            <a>
                                                <img [src]="getSongImage(music)" alt="{{music.name}}"
                                                     class="r r-2x img-full song-image">
                                            </a>
                                        </div>
                                        <div class="padder-v"><a class="text-ellipsis">{{music.name}}</a>
                                            <a class="text-ellipsis text-xs text-muted">{{music.artist.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <app-pagination [max_page]="10" [url_page]="api_page_url" [current_page]="1"
                                            [items]='arrayMusic'></app-pagination>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
<div class="music-player" [class.music-player--open]="player.play">
    <app-music-player #player></app-music-player>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">Choose playlist</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="choosePlaylistForm">
            <div class="input-group">
                <select class="form-control" placeholder="Playlist name" formControlName="name" name="name">
                    <option value="{{playlist.id}}}" *ngFor="let playlist of playlists">{{playlist.name}}</option>
                </select>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success" (click)="choosePlaylistSubmit(choosePlaylistForm)">Save</button>
    </div>
</ng-template>