/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.pb-40 {
    padding-bottom: 40px;
}

html, body {
    overflow: hidden;
}
#content{
    height: 100vh;
    overflow: auto;
}
