<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title">Choose playlist</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="choosePlaylistForm">
      <ng-select placeholder="Playlist name" bindLabel="name"
                 bindValue="slug" formControlName="name" name="name"
                 [items]="playlists">
      </ng-select>
      <div class="form-error" invalidmessage="name">
        <p *invalidType="'required'">Please provide name</p>
        <p *invalidType="'response'"></p>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-success" (click)="choosePlaylistSubmit(choosePlaylistForm)">Save</button>
  </div>
</ng-template>