.audio.green-audio-player {
    width: 100%;
    position: relative;
    min-height: 50px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.07);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 4px;
    user-select: none;
    -webkit-user-select: none;
    /*background-color: #fff;*/
}
.audio.green-audio-player .play-pause-btn {
    /*display: none;*/
    cursor: pointer;
}
.audio.green-audio-player .spinner {
    width: 18px;
    height: 18px;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/355309/loading.png);
    background-size: cover;
    background-repeat: no-repeat;
    animation: spin 0.4s linear infinite;
}
.audio.green-audio-player .slider {
    flex-grow: 1;
    background-color: #44BFA3;
    cursor: pointer;
    position: relative;
}
.audio.green-audio-player .slider .progress {
    background-color: black;
    border-radius: inherit;
    position: absolute;
    pointer-events: none;
}
.audio.green-audio-player .slider .progress .pin {
    height: 16px;
    width: 16px;
    border-radius: 8px;
    background-color: black;
    position: absolute;
    pointer-events: all;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.32);
}
.audio.green-audio-player > .slider .progress .pin{
    display: none;
}
.audio.green-audio-player .controls {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    color: #44BFA3;
    display: inline-block;
    margin-left: 24px;
    margin-right: 24px;
    padding-top: 12px;
}
.audio.green-audio-player .slider {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    height: 4px;
}
.audio.green-audio-player .controls .slider .progress {
    width: 0;
    height: 100%;
}
.audio.green-audio-player .controls .slider .progress .pin {
    right: -8px;
  
    top: -6px;
}
.audio.green-audio-player .controls span {
    cursor: default;
}
.audio.green-audio-player .volume {
    float: right;
    position: relative;
}
.audio.green-audio-player .volume .volume-btn {
    cursor: pointer;
}
.audio.green-audio-player .volume .volume-btn.open path {
    fill: #44BFA3;
}
.audio.green-audio-player .volume .volume-controls {
    width: 30px;
    height: 135px;
    
    background-color: rgba(0, 0, 0, 0.62);
    border-radius: 7px;
    position: absolute;
    left: -3px;
    bottom: 52px;
    flex-direction: column;
    align-items: center;
    display: flex;
}
.audio.green-audio-player .volume .volume-controls.hidden {
    display: none;
}
.audio.green-audio-player .volume .volume-controls .slider {
    width: 6px;
    height: 100%;
    left: 12px;
}
.audio.green-audio-player .volume .volume-controls .slider .progress {
    bottom: 0;
    height: 100%;
    
    width: 6px;
}
.audio.green-audio-player .volume .volume-controls .slider .progress .pin {
    left: -5px;
    background-color: #44BFA3;
    top: 0;
}
.audio-group{
    display: flex;
}
.controls{
    flex: 1;
}

svg, img {
    display: block;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F8FFAE;
    background: -webkit-linear-gradient(-65deg, #43C6AC, #F8FFAE);
    background: linear-gradient(-65deg, #43C6AC, #F8FFAE);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.progress{
    height: 4px;
    overflow: visible;
 
}
@keyframes spin {
    from {
        transform: rotateZ(0);
    }
    to {
        transform: rotateZ(1turn);
    }
}
.hidden{
    display: none !important;
}
.controls__time{
    min-width: 90px;
    display: inline-block;
}
.prev-btn, .next-btn{
    display: inline-block;
    margin: 0 10px;
    cursor: pointer;
}
.total-time, .current-time{
    color: #aaabac;
}
.play-pause-btn, .volume{
    display: inline-block;
}

/*controls*/
.controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.controls a{
    color: #fff;
    cursor: pointer;
    display: inline-block;
    padding: 10px 5px;
}
.controls a.play{
    padding-top: 4px;
}

.controls a i{
    line-height: inherit;
}
.controls > div{
    color: #fff;
    vertical-align: middle;
    text-align: center;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    margin-left: 15px;
}
.controls > div.progress{
    width: 100%;
    height: 60px;
    margin-bottom: 0;
    background-color: #36b0c8;
}
.controls .current-time, .controls .duration{
    line-height: 40px;
}
div.progress{
    width: auto;
    vertical-align: top;
    position: relative;
    border-radius: 0;
}
.seek-bar{
    position: relative;
}
.title{
    color: #fff;
    position: absolute;
    left: 25px;
    top: 0;
    right: 25px;
    display: block !important;
    line-height: 60px;
}
.title ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.title li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.artist{
    opacity: 0.6;
}

.play-bar{
    height: 60px;
}
.volume{
    width: 60px !important;
    padding-right:10px !important;
}
.volume-bar-value{
    height: 6px;
}
a.hid{
    display: none;
}

/*video*/
.video{
    font-size: 0;
    line-height: 0;
    min-height: 160px;
}
.video-play{
    display: inline-block;
    position: absolute;
    left: 50%;
    top: 50%;
    cursor: pointer;
    margin-left: -30px;
    margin-top: -65px;
}
.video-full {
    /* Rules for IE6 (full-screen) */
    width:480px;
    height:270px;
    /* Rules for IE7 (full-screen) - Otherwise the relative container causes other page items that are not position:static (default) to appear over the video/gui. */
    position:static !important; position:relative;
}

/* The z-index rule is defined in this manner to enable Popcorn plugins that add overlays to video area. EG. Subtitles. */
.video-full div div {
    z-index:1000;
}

.video-full .jplayer {
    top: 0;
    left: 0;
    position: fixed !important; position: relative; /* Rules for IE6 (full-screen) */
    overflow: hidden;
}

.video-full .gui {
    position: fixed !important; position: static; /* Rules for IE6 (full-screen) */
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index:1001; /* 1 layer above the others. */
}

.video-full .interface {
    position: absolute !important; position: relative; /* Rules for IE6 (full-screen) */
    bottom: 0;
    left: 0;
}


/*playlist*/

.playlist ul{
    max-height: 320px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;
    display: none !important;
}

.playlist.open ul{
    display: block !important;
    bottom: 60px;
    left: 180px;
}

.playlist li{
    list-style: none;
    position: relative;
}

.playlist-item{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-top: 1px solid rgba(255, 255, 255, .1);
    padding: 12px 40px 12px 8px;
}
.playlist-item:focus{
    outline: 0;
}

.playlist-item:before{
    display: inline-block;
    text-align: center;
    width: 30px;
    font-family: FontAwesome;
    content:"\f0da";
    opacity: 0.6;
}

a.playlist-current:before{
    content:"\f144";
    opacity: 1;
}

.playlist li:first-child .playlist-item{
    border-width: 0;
}

.playlist-item-remove{
    font-size: 15px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 11px 18px;
    opacity: 0.6;
}


@media (max-width: 767px) {
    .footer .gui{
        margin: 0 -10px;
    }
    div.progress{
        padding: 0 10px;
    }
    .playlist.open ul{
        display: block !important;
        bottom: 60px;
        left: 0px;
        right: 0px;
    }
}