<!--<div class="container">-->
<!--<div class="music-list">-->
<!--<div class="music-list__item" *ngFor="let music of arrayMusic" (click)="player.ChangeSong(music)">-->
<!--<div class="text-center">-->
<!--<img class="rounded-circle" src="{{music.img}}" alt="">-->
<!--</div>-->
<!--<h4 class="text-center">{{music.author}}</h4>-->
<!--<h5 class="text-center">{{music.name}}</h5>-->

<!--<audio id="audio"-->
<!--src="https://dl.last.fm/static/1509640209/131211148/3ad55d1d0d6c5146f8ab140a764bccf232df1a8c97d436fdf2a6df9b301e808d/Death+Grips+-+Get+Got.mp3"-->
<!--width="640" height="30" controls="" style="display: none;">-->
<!--</audio>-->
<!--&lt;!&ndash;{{music.like}}&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
jgsduyg