<!--<div class="audio green-audio-player">-->
    <!--&lt;!&ndash;<div class="loading">&ndash;&gt;-->
    <!--&lt;!&ndash;<div class="spinner"></div>&ndash;&gt;-->
    <!--&lt;!&ndash;</div>&ndash;&gt;-->
    <!--<div class="slider" (click)="MoveAudio($event)" data-direction="horizontal">-->
        <!--<div class="progress" #progress>-->
            <!--<div class="pin" id="progress-pin" data-method="rewind"></div>-->
        <!--</div>-->
    <!--</div>-->
    <!--<div class="container audio-group">-->
        <!--<div class="btn-group">-->
            <!--<div class="prev-btn" (click)="PrevSoung()">-->
                <!--<svg id="icon-skip-previous" viewBox="0 0 24 24" width="30px" height="40px">-->
                    <!--<path d="M6 6h2v12H6zm3.5 6l8.5 6V6z" fill="#44BFA3"></path>-->
                    <!--<path d="M0 0h24v24H0z" fill="none"></path>-->
                <!--</svg>-->

            <!--</div>-->
            <!--<div class="play-pause-btn" (click)="PlayStop()">-->
                <!--<svg xmlns="http://www.w3.org/2000/svg" width="18" height="40" viewBox="0 0 18 24">-->
                    <!--<path fill="#44BFA3" fill-rule="evenodd" d="M18 12L0 24V0" class="play-pause-icon"-->
                          <!--[class.hidden]="play"></path>-->
                    <!--<path fill="#44BFA3" fill-rule="evenodd" d="M0 0h6v24H0zM12 0h6v24h-6z" class="play-pause-icon"-->
                          <!--[class.hidden]="!play"></path>-->
                <!--</svg>-->
            <!--</div>-->
            <!--<div class="next-btn" (click)="NextSoung()">-->
                <!--<svg id="icon-skip-next" viewBox="0 0 24 24" width="30px" height="40px">-->
                    <!--<path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z" fill="#44BFA3"></path>-->
                    <!--<path d="M0 0h24v24H0z" fill="none"></path>-->
                <!--</svg>-->

            <!--</div>-->
        <!--</div>-->
        <!--&lt;!&ndash;[(ngModel)]="CurrentTime"&ndash;&gt;-->
        <!--<div class="controls">-->
            <!--<div class="controls__time">-->
                <!--<span class="current-time">{{ currentTime }}</span>-->
                <!--<span>/</span>-->
                <!--&lt;!&ndash;[(ngModel)]="TotalTime"&ndash;&gt;-->
                <!--<span class="total-time">{{ totalTime }}</span>-->
            <!--</div>-->
            <!--<span>-->
                <!--{{ authorSoung }} - -->
                <!--{{ nameSoung }}-->
            <!--</span>-->
        <!--</div>-->

        <!--<div class="volume">-->
            <!--<div class="volume-btn" (click)="volume = !volume">-->
                <!--<svg xmlns="http://www.w3.org/2000/svg" width="24" height="40" viewBox="0 0 24 24">-->
                    <!--<path fill="#44BFA3" fill-rule="evenodd"-->
                          <!--d="M14.667 0v2.747c3.853 1.146 6.666 4.72 6.666 8.946 0 4.227-2.813 7.787-6.666 8.934v2.76C20 22.173 24 17.4 24 11.693 24 5.987 20 1.213 14.667 0zM18 11.693c0-2.36-1.333-4.386-3.333-5.373v10.707c2-.947 3.333-2.987 3.333-5.334zm-18-4v8h5.333L12 22.36V1.027L5.333 7.693H0z"-->
                          <!--id="speaker"/>-->
                <!--</svg>-->
            <!--</div>-->
            <!--<div class="volume-controls" [class.hidden]="volume">-->
                <!--<div class="slider" data-direction="vertical">-->
                    <!--<div class="progress">-->
                        <!--<div class="pin" id="volume-pin" data-method="changeVolume"></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->


<div id="jp_container_N" class="jp-video-270p">
    <div class="jp-type-playlist">
        <div id="jplayer_N" class="jp-jplayer hide" style="width: 480px; height: 270px;"><img id="jp_poster_0"
                                                                                              style="width: 480px; height: 270px; display: inline;"
                                                                                              src="images/m0.jpg">
            <audio id="jp_audio_0" preload="metadata" src="http://flatfull.com/themes/assets/musics/Miaow-07-Bubble.ogg"
                   title="Bubble"></audio>
            <video id="jp_video_0" preload="metadata" style="width: 0px; height: 0px;" title="Bubble"></video>
        </div>
        <div class="jp-gui">
            <div class="jp-video-play hide" style="display: none;"><a class="jp-video-play-icon">play</a></div>
            <div class="jp-interface">
                <div class="jp-controls">
                    <div><a class="jp-previous"><i class="icon-control-rewind i-lg"></i></a></div>
                    <div><a class="jp-play"><i class="icon-control-play i-2x"></i></a> <a class="jp-pause hid"
                                                                                          style="display: none;"><i
                            class="icon-control-pause i-2x"></i></a></div>
                    <div><a class="jp-next"><i class="icon-control-forward i-lg"></i></a></div>
                    <div class="hide"><a class="jp-stop"><i class="fa fa-stop"></i></a></div>
                    <div><a class="" data-toggle="dropdown" data-target="#playlist"><i class="icon-list"></i></a></div>
                    <div class="jp-progress hidden-xs">
                        <div class="jp-seek-bar dk" style="width: 100%;">
                            <div class="jp-play-bar bg-info" style="width: 0%;"></div>
                            <div class="jp-title text-lt" style="display: none;">Bubble</div>
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm jp-current-time text-xs text-muted">00:00</div>
                    <div class="hidden-xs hidden-sm jp-duration text-xs text-muted">03:29</div>
                    <div class="hidden-xs hidden-sm"><a class="jp-mute" title="mute"><i class="icon-volume-2"></i></a>
                        <a class="jp-unmute hid" title="unmute" style="display: none;"><i
                                class="icon-volume-off"></i></a></div>
                    <div class="hidden-xs hidden-sm jp-volume">
                        <div class="jp-volume-bar dk">
                            <div class="jp-volume-bar-value lter" style="width: 80%;"></div>
                        </div>
                    </div>
                    <div><a class="jp-shuffle" title="shuffle"><i class="icon-shuffle text-muted"></i></a> <a
                            class="jp-shuffle-off hid" title="shuffle off" style="display: none;"><i
                            class="icon-shuffle text-lt"></i></a></div>
                    <div><a class="jp-repeat" title="repeat"><i class="icon-loop text-muted"></i></a> <a
                            class="jp-repeat-off hid" title="repeat off" style="display: none;"><i
                            class="icon-loop text-lt"></i></a></div>
                    <div class="hide"><a class="jp-full-screen" title="full screen"><i class="fa fa-expand"></i></a> <a
                            class="jp-restore-screen" title="restore screen" style="display: none;"><i
                            class="fa fa-compress text-lt"></i></a></div>
                </div>
            </div>
        </div>
        <div class="jp-playlist dropup" id="playlist">
            <ul class="dropdown-menu aside-xl dker" style="display: block;">
                <li class="jp-playlist-current">
                    <div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;"
                                                                                        class="jp-playlist-item jp-playlist-current"
                                                                                        tabindex="1">Bubble <span
                            class="jp-artist">by Miaow</span></a></div>
                </li>
                <li>
                    <div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;"
                                                                                        class="jp-playlist-item"
                                                                                        tabindex="1">Lentement <span
                            class="jp-artist">by Miaow</span></a></div>
                </li>
                <li>
                    <div><a href="javascript:;" class="jp-playlist-item-remove">×</a><a href="javascript:;"
                                                                                        class="jp-playlist-item"
                                                                                        tabindex="1">Partir <span
                            class="jp-artist">by Miaow</span></a></div>
                </li>
            </ul>
        </div>
        <div class="jp-no-solution hide" style="display: none;"><span>Update Required</span> To play the media you will
            need to either update your browser to a recent version or update your <a
                    href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
        </div>
    </div>
</div>
