<section id="content">
    <section class="vbox">
        <section class="w-f-md" id="bjax-target">
            <section class="hbox stretch">
                <!-- side content -->
                <!--<aside class="aside bg-light dk" id="sidebar">-->
                <!--    <section class="vbox animated fadeInUp">-->
                <!--        <section class="scrollable hover">-->
                <!--            <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">-->
                                 <!--active-->
                <!--                <a class="list-group-item"  *ngFor="let tag of arrayTag">{{tag.name}}</a>-->
                <!--            </div>-->
                <!--        </section>-->
                <!--    </section>-->
                <!--</aside>-->
                <!-- / side content -->
                <section class='pb-40'>
                    <section class="vbox">
                        <section class="scrollable padder-lg">
                            <h2 class="font-thin m-b">Acoustic</h2>
                            <div class="row row-sm">
                                <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let music of arrayMusic">
                                    <div class="item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black" (click)="player.ChangeSong(music)">
                                                <div class="center text-center m-t-n">
                                                    <a><i class="fa fa-play-circle i-2x"></i></a>
                                                </div>
                                            </div>
                                            <a>
                                                <img [src]="getSongImage(music)" alt="{{music.name}}" class="r r-2x img-full song-image">
                                            </a>
                                        </div>
                                        <div class="padder-v"><a class="text-ellipsis">{{music.name}}</a>
                                            <a class="text-ellipsis text-xs text-muted">{{music.artist.name}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <app-pagination [max_page]="10" [url_page]="'song'" [current_page]="1" [items]='arrayMusic'></app-pagination>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
<div class="music-player" [class.music-player--open]="player.play">
    <app-music-player #player></app-music-player>
</div>
