@import "../../../amita.css";

.item-overlay {
    height: 70px;
    z-index: 10;
    width: 25%;
    cursor: pointer;
}

.header-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}