<section id="main-content">
    <section class="vbox">
        <section class="w-f-md" id="bjax-target">
            <section class="hbox stretch">
                <section class='pb-40'>
                    <section class="vbox">
                        <section class="scrollable padder-lg pb-60">
                            <div class="music-header">
                                <h2 class="font-thin m-b">Playlists</h2>
                            </div>
                            <div class="row row-sm">

                            </div>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>