.fa-plus-circle, .favorite {
    cursor: pointer;
}

.song-image {
    min-height: 147px;
    object-fit: cover;
}

.i-2x {
    cursor: pointer;
}

.item-preload {
    min-height: 180px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
}