<form class="navbar-form navbar-left m-t m-l-n-xs hidden-xs"
      id="header-search">
    <div class="form-group">
        <div class="input-group">
            <input type="search"
                   class="form-control input-sm no-border rounded sbibod"
                   (input)="onSearch($event.target.value)"
                   (focus)="showDropdown = true;"
                   placeholder="Search songs, artist...">
        </div>
        <div class="dropdown-content" *ngIf="showDropdown">
            <a [routerLink]="item.type == 'artist' ? ['/dashboard/music', item.id]: '/dashboard/music'"
               class="dropdown-item"
               *ngFor="let item of searchItems" title="{{item.name}}">
                <i *ngIf="item.type == 'song'" class="icon-playlist icon"></i>
                <i *ngIf="item.type == 'artist'" class="fa fa-male"></i>
                {{item.name}}
            </a>
        </div>
    </div>
</form>
