<form *ngIf="showSearch" class="navbar-form navbar-left m-t m-l-n-xs hidden-xs"
      id="header-search">
    <div class="form-group">
        <div class="input-group">
            <input type="search"
                   [value]="inputValue"
                   class="form-control input-sm no-border rounded sbibod"
                   (input)="onSearch($event.target.value)"
                   (focus)="showDropdown = true;"
                   placeholder="Search ...">
        </div>
    </div>
</form>
