Django==2.0.8
django-cors-headers
django-extensions
django-filter
django-redis
djangorestframework==3.8.2
djangotoolbox
django-phonenumber-field
phonenumbers
Pillow
ipython
mysqlclient
pandas==0.23.4
requests
celery==4.2.1
redis==2.10.6
django-debug-toolbar