Django==2.0
django-cors-headers==2.2.0
djangotoolbox>=1.6.0
django-dbindexer>=1.6.0
djangorestframework
markdown
django-filter
psycopg2
Pillow
psycopg2-binary
mysqlclient
pandas
pytz
line_profiler
python-memcached
celery
celery[redis]
