.avatar{
    display: inline-block;
    cursor: pointer;
}
.social-link-add{
    cursor: pointer;
}
#profile_form{
    display: flex;
    flex-wrap: wrap;
}

#profile_form .form-group{
    width: 50%;
    padding-left: 15px;
    padding-right: 15px;
}
.form-error{
    color: red;
    position: absolute;
}

.btn{
    margin-top: 10px;
}
.social-link{
    display: block;
    
}
.social-link:hover .remove-social-link{
    display: inline-block;
} 
.remove-social-link{
    display: none;
    float: right;
    transition: 0.3s;

}