<div class="container-fluid bootstrap snippet">
    <div class="row">
        <div class="col-sm-10"><h1>{{user.username}}</h1></div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <img src="{{user.avatar}}"
                     class="avatar img-circle img-thumbnail"
                     alt="avatar">
            </div>
            <br>
            <div class="panel panel-default">
                <div class="panel-heading">
                    Website
                    <i class="fa fa-link fa-1x"></i>
                    <span class="pull-right">
                        <a>
                            <i class="icon-plus i-lg"></i>
                        </a>
                    </span>
                </div>
                <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="container-fluid">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Change password
                    </div>
                    <form class="form" [formGroup]="profileForm">
                        <div class="container-fluid">
                            <div class="form-group">
                                <label><h4>Old password</h4></label>
                                <input type="password"
                                       class="form-control"
                                       name="old_password"
                                       formControlName="old_password"
                                       placeholder="old password">
                            </div>
                            <div class="form-group">
                                <label><h4>New password</h4></label>
                                <input type="password"
                                       class="form-control"
                                       name="new_password"
                                       formControlName="new_password"
                                       placeholder="new password">
                            </div>
                            <div class="form-group">
                                <label><h4>Confirm password</h4></label>
                                <input type="password"
                                       class="form-control"
                                       name="confirm_password"
                                       formControlName="confirm_password"
                                       placeholder="confirm password">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Account info
                    </div>
                    <form class="form" [formGroup]="profileForm" id="profile_form">
                        <div class="form-group">
                            <label><h4>First name</h4></label>
                            <input type="text" class="form-control" name="first_name" formControlName="first_name"
                                   placeholder="first name">
                        </div>
                        <div class="form-group">
                            <label><h4>Last name</h4></label>
                            <input type="text" class="form-control" name="last_name" formControlName="last_name"
                                   placeholder="last name">
                        </div>
                        <div class="form-group">
                            <label><h4>Username</h4></label>
                            <input type="text" class="form-control" name="username" formControlName="username"
                                   placeholder="username">
                        </div>
                        <div class="form-group">
                            <label><h4>Email</h4></label>
                            <input type="email" class="form-control" name="email" formControlName="email"
                                   placeholder="you@email.com">
                        </div>
                        <div class="form-group">
                            <label><h4>Phone</h4></label>
                            <input type="text" class="form-control" name="phone" formControlName="phone"
                                   placeholder="phone">
                        </div>

                        <div class="form-group">
                            <label><h4>City</h4></label>
                            <input type="text" class="form-control" formControlName="city" name="city"
                                   placeholder="city">
                        </div>
                        <div class="form-group">
                            <br>
                            <button class="btn btn-lg btn-success" type="submit">
                                Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
