<section id="main-content">
    <section class="vboxv pb-60">
        <div class="container-fluid bootstrap snippet">
            <div class="row">
                <div class="col-sm-10"><h1>{{user.username}}</h1></div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <div class="text-center">
                        <img src="{{user.avatar}}"
                             (click)="fileInput.click()"
                             class="avatar img-circle img-thumbnail"
                             alt="avatar">
                        <input
                                type="file"
                                (change)="onAvatarChanged($event)"
                                style="display: none;"
                                accept="image"
                                #fileInput>
                    </div>
                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Social links
                            <i class="fa fa-link fa-1x"></i>
                            <span class="pull-right">
                                <a (click)="openModal()" class="social-link">
                                    <i class="icon-plus i-lg"></i>
                                </a>
                            </span>
                        </div>
                        <div class="panel-body"><a href="http://bootnipets.com">bootnipets.com</a></div>
                    </div>
                </div>
                <div class="col-sm-9">
                    <div class="container-fluid">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Change password
                            </div>
                            <form class="form" [formGroup]="changePasswordForm">
                                <div class="container-fluid">
                                    <div class="form-group">
                                        <label><h4>Old password*</h4></label>
                                        <input type="password"
                                               class="form-control"
                                               name="old_password"
                                               formControlName="old_password"
                                               placeholder="old password">
                                        <div class="form-error" invalidmessage="old_password">
                                            <p *invalidType="'required'">Please provide old password</p>
                                        </div>
                                        <div class="form-error" invalidmessage="old_password">
                                            <p *invalidType="'response'"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><h4>New password*</h4></label>
                                        <input type="password"
                                               class="form-control"
                                               name="new_password"
                                               formControlName="new_password"
                                               placeholder="new password">
                                        <div class="form-error" invalidmessage="new_password">
                                            <p *invalidType="'required'">Please provide new password</p>
                                        </div>
                                        <div class="form-error" invalidmessage="new_password">
                                            <p *invalidType="'response'"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label><h4>Confirm password*</h4></label>
                                        <input type="password"
                                               class="form-control"
                                               name="confirm_password"
                                               formControlName="confirm_password"
                                               placeholder="confirm password">
                                        <div class="form-error" invalidmessage="confirm_password">
                                            <p *invalidType="'required'">Please provide confirm password</p>
                                        </div>
                                        <div class="form-error" invalidmessage="confirm_password">
                                            <p *invalidType="'match_password'">Passwords do not match!</p>
                                        </div>
                                        <div class="form-error" invalidmessage="confirm_password">
                                            <p *invalidType="'response'"></p>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button class="btn btn-success" type="submit" (click)="submitChangePassword()">
                                            Change
                                        </button>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Account info
                            </div>
                            <form class="form" [formGroup]="profileForm" id="profile_form">
                                <div class="form-group">
                                    <label><h4>First name</h4></label>
                                    <input type="text" class="form-control" name="first_name"
                                           formControlName="first_name"
                                           placeholder="first name">
                                    <div class="form-error" invalidmessage="first_name">
                                        <p *invalidType="'required'">Please provide first name</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><h4>Last name</h4></label>
                                    <input type="text" class="form-control" name="last_name" formControlName="last_name"
                                           placeholder="last name">
                                    <div class="form-error" invalidmessage="last_name">
                                        <p *invalidType="'required'">Please provide last name</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><h4>Username</h4></label>
                                    <input type="text" class="form-control" name="username" formControlName="username"
                                           placeholder="username">
                                    <div class="form-error" invalidmessage="username">
                                        <p *invalidType="'required'">Please provide username</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><h4>Email</h4></label>
                                    <input type="email" class="form-control" name="email" formControlName="email"
                                           placeholder="you@email.com">
                                    <div class="form-error" invalidmessage="email">
                                        <p *invalidType="'required'">Please provide email</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label><h4>Phone</h4></label>
                                    <input type="text" class="form-control" name="phone" formControlName="phone"
                                           placeholder="phone">
                                    <div class="form-error" invalidmessage="phone">
                                        <p *invalidType="'required'">Please provide phone</p>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label><h4>City</h4></label>
                                    <input type="text" class="form-control" formControlName="city" name="city"
                                           placeholder="city">
                                    <div class="form-error" invalidmessage="city">
                                        <p *invalidType="'required'">Please provide city</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-success" type="submit" (click)="submitChangeProfile()">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<ng-template #modalTemplate>
    <div class="modal-header">
        <h4 class="modal-title">New social link</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-success">Save</button>
    </div>
</ng-template>