<header class="bg-white-only header header-md navbar navbar-fixed-top-xs">
    <div class="navbar-header aside bg-info dk">
        <a routerLink="/" class="navbar-brand text-lt">
            <i class="icon-earphones"></i>
            <!--<img  src="images/logo.png" alt="." class="hide"> -->
            <span class="hidden-nav-xs m-l-sm">Musik</span>
        </a>
    </div>
    <app-header-search></app-header-search>
    <div class="navbar-right ">
        <ul class="nav navbar-nav m-n hidden-xs nav-user user">
            <li class="dropdown" dropdown>
                <a class="dropdown-toggle bg clear" dropdownToggle>
                    <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
                        <img src="{{user.avatar}}" alt="{{user.username}}">
                    </span>
                    {{user.username}}
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu animated fadeInRight" *dropdownMenu>
                    <li><span class="arrow top"></span> <a>Settings</a></li>
                    <li><a>Profile</a></li>
                    <li class="divider"></li>
                    <li><a>Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</header>
