
<!--<h1 mat-dialog-title>Create new music</h1>-->
<!--<div mat-dialog-content>-->
<!--  <mat-form-field>-->
<!--    <input matInput placeholder="name"  required >-->
<!--  </mat-form-field>-->
<!--  <mat-form-field>-->
<!--    <input matInput placeholder="author" tabindex="1" >-->
<!--  </mat-form-field>-->
<!--  <mat-form-field>-->
<!--    <input type="file" placeholder="file" tabindex="1" >-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button [mat-dialog-close]="" tabindex="2">Create</button>-->
<!--  <button mat-button (click)="CloseDialog()" tabindex="-1">Close</button>-->
<!--</div>-->
