img{
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}
.context{
    position: relative;
}
.audio{
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}
.mat-form-field{
    display: block;
}
.mat-dialog-actions{
    justify-content: space-around;
}