<ul class="nav text-sm">
    <li class="hidden-nav-xs padder m-t m-b-sm text-xs text-muted">
        <span class="pull-right">
            <a (click)="openModal(template)"><i class="icon-plus i-lg"></i></a>
        </span>
        <a [routerLink]="['/dashboard/playlist']">Playlists</a>
    </li>
    <li *ngFor="let playlistItem of playlistItems">
        <a [routerLink]="['/dashboard/playlist', playlistItem.slug]" routerLinkActive="active">
            <i class="icon-playlist icon"></i>
            <b *ngIf="playlistItem.song.length"
               class="badge bg-success dker pull-right">{{playlistItem.song.length}}</b>
            <span>{{playlistItem.name}}</span>
        </a>
    </li>
</ul>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title">Create new playlist</h4>
        <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="playlistForm">
            <div class="form-group">
                <input formControlName="name"
                       name="name"
                       type="text"
                       class="form-control"
                       placeholder="Playlist name">
                <div class="form-error" invalidmessage="name">
                    <p *invalidType="'required'">Please provide playlist name</p>
                    <p *invalidType="'response'">response</p>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button
                type="button"
                class="btn btn-success"
                (click)="playlistSubmit()"
                [disabled]="!playlistForm.valid"
        >Save
        </button>
    </div>
</ng-template>
