a {
    cursor: pointer;
}

.form-error {
    text-align: left;
    color: red;
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    font-size: 12px;
}

.form-error p {
    margin-bottom: 0;
}

.form-group {
    position: relative;
}

a.active .icon-playlist {
    color: #23e080;
}