<header class="wrapper text-center"> <strong>Sign up to find interesting thing</strong> </header>
<form [formGroup]="registerForm">
    <div class="form-group"> <input formControlName="username" name='username' placeholder="Username" class="form-control rounded input-lg text-center no-border">
        <div class="form-error" invalidmessage="username">
            <p *invalidType="'required'">Please provide username</p>
            <p *invalidType="'response'"></p>
        </div>
    </div>

    <div class="form-group"> <input formControlName="email" name='email' type="email" placeholder="Email" class="form-control rounded input-lg text-center no-border">
        <div class="form-error" invalidmessage="email">
            <p *invalidType="'required'">Please provide email</p>
            <p *invalidType="'email'">Please provide valid email</p>
            <p *invalidType="'response'"></p>
        </div>
    </div>

    <div class="form-group"> <input formControlName="password" name='password' type="password" placeholder="Password" class="form-control rounded input-lg text-center no-border">
        <div class="form-error" invalidmessage="password">
            <p *invalidType="'required'">Please provide password</p>
            <p *invalidType="'response'"></p>
        </div>
    </div>

    <button type="submit" (click)='registerSubmit(registerForm)' class="btn btn-lg btn-warning lt b-white b-2x btn-block btn-rounded"><i class="icon-arrow-right pull-right"></i><span class="m-r-n-lg">Sign up</span></button>
    <div class="line line-dashed"></div>
    <p class="text-muted text-center"><small>Already have an account?</small></p> <a routerLink='/account/login' class="btn btn-lg btn-info btn-block btn-rounded">Sign in</a>
</form>
