<app-header></app-header>
<app-alert></app-alert>
<section>
    <section class="hbox stretch">
        <!-- .aside -->
        <aside class="bg-dark dk aside hidden-print" id="nav">
            <section class="vbox">
                <section class="w-f-md scrollable">
                    <div class="slim-scroll">
                        <!-- nav -->
                        <nav class="nav-primary hidden-xs">
                            <app-main-menu></app-main-menu>
                            <app-playlist></app-playlist>
                        </nav>
                        <!-- / nav -->
                    </div>
                </section>
            </section>
        </aside>
        <!-- /.aside -->
        <div>
            <section id="main-content" *ngIf="mainComponent">
                <section class="vboxv scrollable padder-lg pb-60">
                    <h2 class="font-thin m-b">Trends</h2>
                    <div class="row row-sm main-list">
                        <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2" *ngFor="let song of arraySong">
                            <song-item [item]="song"></song-item>
                        </div>
                    </div>
                    <app-pagination
                            [url_page]="'song/selection'"
                            (changeItems)='getSongItems($event)'
                    ></app-pagination>
                </section>
            </section>
        </div>

        <router-outlet></router-outlet>
        <app-song-playlist></app-song-playlist>
        <app-confirm></app-confirm>
        <div class="music-player" [class.music-player--open]="player.first_play">
            <app-player #player></app-player>
        </div>

    </section>
</section>