.aside {
    width: 200px;
}

/*#main-content {*/
    /*overflow: scroll;*/
    /*height: 100vh;*/
/*}*/
.vbox{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 60px);
}