<div class="list-all">
    <div class="list-item tz-col-2" *ngFor="let music of arrayMusic">
        <div class="item">
            <a class="mp-img" [ngStyle]="{ 'background-image': 'url(' + music.image + ')'}"></a>
            <div class="content">
                <h3><a>{{music.name}}</a></h3>
                <div class="mp-get-artist">
                    <a [routerLink]="['/dashboard/music', music.artist.id]">{{music.artist.name}}</a>
                </div>
                <div class="mp-button absolute">
                    <div class="mp_song_add">
                        <span class="button-item mp_btn_add_song" title="Wishlist">
                            <i class="fa fa-heart"></i>
                        </span>
                    </div>
                    <a class="button-item btn-download" tabindex="-1" target="_blank" title="Download">
                        <i class="fa fa-download"></i>
                    </a>
                    <a class="button-item btn-add-list play-me"  title="Add Song To Player">
                        <i class="fa fa-plus"></i>
                        <span>Song Added</span>
                    </a>
                    <div class="mp-share">
                        <span class="button-item btn-share" title="Share"><i class="fa fa-share-alt"></i></span>
                    </div>
                </div>
                <span class="song_plays"><i class="fa fa-headphones"></i>{{music.listeners_fm}}</span>
            </div>
        </div>
    </div>
</div>