<section id="content">
    <section class="vbox">
        <section class="w-f-md" id="bjax-target">
            <section class="hbox stretch">
                <aside class="aside bg-light dk" id="sidebar">
                    <section class="vbox animated fadeInUp">
                        <section class="scrollable hover">
                            <div class="list-group no-radius no-border no-bg m-t-n-xxs m-b-none auto">
                                <a class="list-group-item tag-item" (click)='changeTag(tag, i)' [class.active]="activeTagIndex === i" *ngFor="let tag of arrayTag; let i = index">{{tag.name}}</a>
                            </div>
                        </section>
                    </section>
                </aside>
                <section class='pb-40'>
                    <section class="vbox">
                        <section class="scrollable padder-lg">
                            <h2 class="font-thin m-b">Artists</h2>
                            <div class="row row-sm">
                                <a class="col-xs-6 col-sm-4 col-md-3 col-lg-2" [routerLink]="['/music']" [queryParams]="{artist: artist.id}" *ngFor="let artist of arrayArtist">
                                    <div class="item artist-item">
                                        <div class="pos-rlt">
                                            <div class="item-overlay opacity r r-2x bg-black"></div>
                                            <a>
                                                <img [src]="getArtistImage(artist)" alt="{{artist.name}}" class="r r-2x img-full song-image">
                                            </a>
                                        </div>
                                        <div class="padder-v">
                                            <a class="text-ellipsis">{{artist.name}}</a>
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <pagination [max_page]="10" [url_page]="'artist'" [current_page]="1" [items]='arrayArtist'></pagination>
                        </section>
                    </section>
                </section>
            </section>
        </section>
    </section>
</section>
